:root{
    --pink:rgb(241,52,105);
    --blue:rgb(31, 35, 91);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.slackey-regular {
  font-family: "Slackey", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  font-variation-settings:
    "wdth" 100;
}

.app{
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: url("../src/bg.png") center;
    flex: 0;
}
.selector{
    z-index: 1;
    position: fixed;
    /* overflow: hidden; */
    left: 5%;
    top: 15%;

    width: 18vw;
    height: 6vh;

    border-radius: 100px;
    /* background: red; */
}
.selector_option{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    appearance: none;
    outline: none;

    box-shadow: none;
    width: 100%;
    height: 40px;

    color: white;
    background: none;
}
.selector_option:hover{
    background: var(--pink);
}
#selector_current{
    border: 2px solid white;
    border-radius: 100px;
    background: var(--blue);
    color: white;
}
.selector_dropdown{
    pointer-events: none;

    margin-top: 4px;
    width: 100%;
    max-height: 400px;
    border-radius: 10px;

    background: var(--blue);
    overflow-y: scroll;
    direction: rtl;

    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.308) var(--blue);
    opacity: 0;
    transition: all 0.3s ease;
}
.selector_dropdown.actived{
    pointer-events: auto;
    display: block;
    opacity: 1;

}
.icon{
    width: 40px;     
    height: 40px;      
}
.icon_img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 100%;
}
.controls{
    z-index: 1;
    display: flex; 
    justify-content: flex-end;
    align-items: center;  
    /* align-items: stretch; */
        
    position: fixed;
    right: 5%;
    top: 15%;

    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    border-radius: 100px; 
    padding: 10px 10px;

    background:#1f235b;
    border: 2px solid white;
}
.controls_button{
    position: relative;
    cursor: pointer;
    display: block;

    width: 6vh;
    height: 6vh;

    border:none;
    border-radius: 50%;

    color: black;

    margin: 0px 8px;
    background: white;
    transition: all 0.2s ease;
}
.controls_button:hover{
    background: rgb(241,52,105);
}
.controls_button:hover .controls_button_svg{
    color: white;
}
.controls_button_svg{
    position: absolute;
    inset: 0;
    box-sizing: border-box;
    padding: 20% 20%;
    width: 100%;
    height: 100%;
    color:#1f235b;
    /* background: red; */
}

#before{
   left: -2px;
}
#next{
    left: 2px;
}
.quiz_container{
    padding-top: 80px;
    z-index: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    /* background: red; */
    /* background: url("../src/background-ask.png") center / contain no-repeat; */
}
.quiz_ballon{

    position: relative;
    width: fit-content;
    height: 45%;

    margin-left: auto;
    margin-right: auto;
    /* background-color: purple; */
    transition: all 0.3s ease;
}
.quiz_ballon_svg{
    height: 100%;
    width: fit-content;
}
.quiz_title{
    position: absolute;
    left: 50%;
    top: 20%;
    padding-top: 40px;
    font-size:40px;
    transform: translate(-50%,-50%);
}
.quiz_text{

    position: absolute;

    left: 50%;
    top: 55%;
    padding-top: 40px;
    transform: translate(-50%,-50%);

    text-align:center;

    /* background-color: blue; */
}
.quiz_ask{
    font-size: 22px;
}
.quiz_ballon path{
 width: 100%;
}

/*questions*/

.quiz_questions{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;

    gap: 15px;
    width: 50%;
    height: fit-content;
    /* background: purple; */
}
/* @keyframes shakeCorrect{
    0%{
        transform: scale(1);
    }
    1%,100%{
        transform: scale(1.05);
    }
} */
@keyframes shakeIncorrect{
    
    0%,2%{
        transform: rotate(5deg);
    }
    2%,4%{
        transform: rotate(0deg);
    }
    4%,6%{
        transform: rotate(-5deg);
    }
    6%,8%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes shakeHover{
    20%, 50% {
        transform: scale(1.05);
    }
    50%,80%{
        transform: scale(1.0);
    }
}
.btn{
    z-index: 1;
    position: relative;

    overflow: hidden;
    box-sizing: border-box;

    width: 46%;
    height: 10vh;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    color: black;
    transition:transform 0.3s ease;
    background: none;
}
.btn::before{
    z-index: -2;
    position: absolute;
    content: "";
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: 32px;
    background: white;
}
.btn::after{
    z-index: -1;
    position: absolute;
    content: "";
    inset: 0;

    width: 102%;
    height: 102%;
    background: rgb(241,52,105);
    transition: all 0.3s ease;
    opacity: 0;
}
.btn:hover::after{
    opacity: 1;
}
.btn:hover{
    border: 4px solid white;
    color: white;
    animation:  shakeHover 2s infinite;
}
.btn.correct{
    background: rgb(47, 253, 136);
    border: 4px solid white;
    transform: scale(1.05);
}
.btn.incorrect{
    background: rgb(253, 47, 47);
    border: 4px solid white;
    animation: shakeIncorrect 2s ease;
}
#quiz_answer.visited{
    background: rgb(47, 171, 253);
    border: 4px solid white;
    transform: scale(1.05);
}
.btn.buttonDisabled{
    animation: none;
}
.btn.correct::before,
.btn.incorrect::before
{
    opacity: 0;
}
.btn.correct::after,
.btn.incorrect::after{
    opacity: 0;
}
.footer{
    display: block;
    z-index: 6;
    box-sizing: border-box;

    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: fit-content;
    padding: 0 2vw;
    
    color: white;
    opacity: 0.9;
}
